/*dermocosmética*/ 

.imagedermo-container img {
    width: 100vw; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}




.contenedor-article {
    display: flex;
    margin-top: 30px;
    width: 45%;
    padding: 25px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.section-flex{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}


.parrafo-uno {
    font-weight: 700;
    font-size: 50px;
    line-height: 44px;
    color: #000000;


}

.parrafo-dos {
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 44px;
    color: #000000;
}



/* Estilo para el artículo */
.contenedor-article {
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
}

.content-card {
    display: flex;
    justify-content: space-around;
}

.card-dermo {
    width: 240px; 
    margin: 10px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;


    img {
        width: 75%; 
        height: auto;
        margin: 30px;
    }

    h2 {
        font-size: 1.1rem; 
        margin: 0; 
        margin-bottom: 25px;
        text-align: center;
    }

    p {
        font-size: 1.25rem; 
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}


h1{
    font-size: 1.6875rem;
}


iframe {
    width: 623px;
    border: 0;
}
.iframe-contenedor{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 30px;
}

