/*dermocosmética*/ 

.imagedermo-container img {
    width: 100vw; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}




.contenedor-article {
    width: 30%;
    padding: 20px;
    background-color: #f6f6f3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.section-flex{
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}




.iframe-contenedor{
    margin-top: 10px;
}

.parrafo-uno {
    font-weight: 700;
    font-size: 54px;
    line-height: 44px;
    color: #1d1d1d;


}

.parrafo-dos {
    font-weight: 100;
    font-size: 54px;
    line-height: 44px;
}



/* Estilo para el artículo */
.contenedor-article {
    flex: 1; /* El artículo ocupará todo el espacio restante */
    margin-right: 0px; /* Margen derecho para separarlo de las cards */
}

.content-card{
    display: flex;
    justify-content: space-between;
}
.card-dermo {
    width: 290px; 
    margin: 10px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
        width: 75%; 
        height: auto;
        margin: 30px;
    }
}


.content-card{
    display: flex;
    justify-content: space-around;


h1{
    font-size: 1.6875rem;
}

.iframe-contenedor {
    display: flex;
    gap: 140px;
}

iframe {
    width: 623px;
    border: 0;
}
.iframe-contenedor{
    margin-top: 10px;
}
}