.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px; 
}

.card-fragancias {
    width: 240px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    img {
        width: 75%; 
        height: auto;
        margin: 30px;
    }

    .card-content {
        padding: 10px;
    }

    .card-content h2 {
        font-size: 1.1rem; 
        font-weight: 500;
        margin: 0; 
        text-align: center;
    }

    .card-content p {
        font-size: 1.25rem; 
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
}