@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
}


.header-texto {
    background-color: #00A339;
    color: white;
    padding: 4px 10px;
    text-align: center;
    font-size: 25px;
    font-weight:normal;
}



.form-container {
    display: flex;
    align-items:center;
    margin-left: auto;
}

.form-container form {
    margin-bottom:inherit;
}


.account-cart-container {
    display: flex;
    align-items: flex-end; 
    margin-left: auto;
    padding: 40px;
}


    
.account-cart-container p {
    margin-left: 100px; 
}

.horizontal-menu {
    display: flex;
    list-style-type: none; 
    padding: 0;
    background-color: #E1F0DA;
    justify-content: space-evenly;
}

.horizontal-menu li {
    margin-right: 20px; 

}

.horizontal-menu a {
    text-decoration: none; 
    color: black; 
    font-weight:normal;
    font-size: x-large;
}
footer {
    display: flex; 
    justify-content: space-around; 
    background-color: #f0f0f0; 
    padding: 20px 0; 
}

footer div {
    flex: 1; 
    text-align: center; 
}