/*inicio*/
.image-container img {
    width: 100%;
}

.flex-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}



/* Estilos para las tarjetas */
.card-inicio {
    width: 290px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    

    img {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 1.1rem; 
        font-weight: 500;
        margin: 0; 
        text-align: center;
    }

    p {
        font-size: 1.25rem; 
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
}
