/*media queries*/

/*tablet*/

@media screen and (max-width: 768px){
    header {
        flex-direction: column;
    }
    header img {
        width: 112%;
    }
    .form-container{
        flex-direction: column;
    }
    .account-cart-container{
        margin: 0px;
        padding: 15px,
    }
    .account-cart-container p {
        margin: 10px;
    }
    .horizontal-menu a {
        font-size: 20px;
    }
        
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .card {
        width: 240px;
        margin: 43px;
        margin-top: 5px
}
}
/*mobile*/



@media screen and (max-width: 320px) {
            .header-texto{
                font-size: .8125rem;
            }
            .form-container img{
                width: 260px;
            }
            
            .account-cart-container{
                padding: 0px;
            }


            .horizontal-menu a{
                font-size: 6px;
                font-weight: 700;
            }    
            .card-inicio{
                width: 126px;
            }
            .card-content h2{
                font-size: 12px;
            }
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
            .card {
                width: 136px;
                margin: 0px;
            }
            .card img {
                width: 62%;
                margin: auto;
            }
            .card-content {
                padding: 0px;
            }
        

            footer h3{
            font-size: 10px;
            }
            footer p{
                font-size: 8px;
            }
            footer img{
            width: 50px;
            } 
}
