/*media queries*/

/*tablet*/

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .nav-bar {
        padding: 10px;
    }
    .nav-bar li a { 
        font-size: 20px;
        font-weight: 500;
    }
    

    .div image-container{
    width: 100%;
}
    .form-container {
        flex-direction: column;
    }

    .account-cart-container {
        margin: 0px;
        padding: 15px;
    }

    div .account-cart-container{
        margin-left: initial;
    }
    .account-cart-container p {
        margin: 10px;
    }

    .horizontal-menu a {
        font-size: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }



    .card {
        width: 240px;
        margin: 43px;
        margin-top: 5px
    }

    .card-dermo {
        width: 166px;
    }

    .iframe-contenedor {
    display: flex;
    flex-direction: column;
    }
    iframe {
    width: 700;
}
}
/*mobile*/



@media screen and (max-width: 320px) {
    .header-texto {
        font-size: .8125rem;
    }

    .form-container img {
        width: 100%;
    }

    .account-cart-container {
        flex-direction: column;
    }
    .nav-bar {
        display: flex;
        padding: 0;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    
    article {
        width: 90%;
    }

    .card-inicio {
        width: 126px;
    }

    .card-content h2 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 136px;
        margin: 0px;
    }

    .card img {
        width: 62%;
        margin: auto;
    }

    .card-content {
        padding: 0px;
        
    }
    .card-content p {
        font-size: .8125rem ;
    }


    .contenedor-main article {
        width: 90%;
    }
    .contenedor-main article img {
        height: 210px;
    }

    footer h3 {
        font-size: 10px;
    }

    footer p {
        font-size: 8px;
    }

    footer img {
        width: 50px;
    }
}


