/*media queries*/

/*tablet*/

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .nav-bar {
        padding: 10px;
    }
    .nav-bar li a { 
        font-size: 19px;
        font-weight: 500;
    }
    

    .div image-container{
    width: 100%;
}
    .form-container {
        flex-direction: column;
    }

    .account-cart-container {
        margin: 0px;
        padding: 15px;
    }

    div .account-cart-container{
        margin-left: initial;
    }
    .account-cart-container p {
        margin: 10px;
    }

    .horizontal-menu a {
        font-size: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


    .card {
        width: 240px;
        margin: 43px;
        margin-top: 5px
    }

    .card-dermo {
        width: 166px;
    }

    article img {
        height: 180px;
    }

    .div-flex {
        margin-top: 0px;
    }
    .div-flex img {
        margin-top: -14px;
    }

    .section-container h2 {
        margin: 24px;
    }


    .iframe-contenedor {
    flex-direction: column;
    margin: 60px;
    }
    iframe {
    width: 700;
}
}



/*mobile*/



@media screen and (max-width: 320px) {
    .header-texto {
        font-size: .8125rem;
    }

    .form-container img {
        width: 100%;
    }

    .account-cart-container {
        flex-direction: column;
    }
    .nav-bar {
        display: flex;
        padding: 0;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    
    article {
        width: 90%;
    }

    .card-inicio {
        width: 126px;
    }

    .card-content h2 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-fragancias {
        width: 257px;
    }

    .card {
        width: 136px;
        margin: 0px;
    }

    .card img {
        width: 62%;
        margin: auto;
    }

    .card-content {
        padding: 0px;
        
    }
    .card-content p {
        font-size: .8125rem ;
    }

    .contenedor-main article img {
        height: 210px;
    }

    .contenedor-article {
        width: 87%;
    }

    .parrafo-uno {
        font-size: 28px;
    }

    .parrafo-dos {
        font-size: 24px;;
    }

    .card-dermo {
        width: 200px;
    }
    
    iframe {
        width: 231px;
    }

    article img {
        width: 110%;
        height: 180px;  
    }

    .div-flex img {
        height: 112px;
    }
    .flex-div {
        flex-direction: column;
        margin: 40px;
    }

    article h2 {
        font-size: 20px;
    }
    .section-container h2 {
        margin: 12px;
        margin-top: 0px;
        font-size: 16px;
    }

    footer h3 {
        font-size: 10px;
    }

    footer p {
        font-size: 8px;
    }

    footer img {
        width: 50px;
    }
}


