@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variables*/
/*mapas*/
body {
  font-family: "Poppins", sans-serif;
}
body .account-cart-container .bi {
  color: rgb(0, 0, 0); /* Color predeterminado */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}
body .account-cart-container .bi:hover {
  color: green; /* Color al pasar el ratón por encima */
}
body .header-texto {
  background-color: #00A339;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  margin-top: 0;
}
body .form-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
body .form-container form {
  margin-bottom: inherit;
}
body .account-cart-container {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 40px;
}
body .account-cart-container p {
  margin-left: 100px;
}
body .nav-bar {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  background-color: #E1F0DA;
  justify-content: space-evenly;
}
body .nav-bar li {
  margin-right: 20px;
}
body .nav-bar li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: x-large;
}
body .nav-bar li a:hover {
  color: #00A339;
}
body footer {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 20px 0;
}
body footer div {
  flex: 1;
  text-align: center;
}
body h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}
body p {
  color: #666;
  font-size: 16px;
  margin: 5px 0;
}
body .bi {
  font-size: 24px;
  margin: 0 5px;
  color: #666;
}
body .bi:hover {
  color: #007bff;
}
body .bi-facebook:hover {
  color: #3b5998;
}
body .bi-instagram:hover {
  color: #c13584;
}

/*inicio*/
.image-container img {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilos para las tarjetas */
.card-inicio {
  width: 290px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card-inicio img {
  width: 75%;
  height: auto;
}
.card-inicio h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.card-inicio p {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.card-inicio:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.card-fragancias {
  width: 240px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card-fragancias img {
  width: 75%;
  height: auto;
  margin: 30px;
}
.card-fragancias .card-content {
  padding: 10px;
}
.card-fragancias .card-content h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.card-fragancias .card-content p {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.card-fragancias .card-content:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/*dermocosmética*/
.imagedermo-container img {
  width: 100vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor-article {
  display: flex;
  margin-top: 30px;
  width: 45%;
  padding: 25px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.section-flex {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.parrafo-uno {
  font-weight: 700;
  font-size: 50px;
  line-height: 44px;
  color: #000000;
}

.parrafo-dos {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 25px;
  line-height: 44px;
  color: #000000;
}

/* Estilo para el artículo */
.contenedor-article {
  width: 97%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
}

.content-card {
  display: flex;
  justify-content: space-around;
}

.card-dermo {
  width: 240px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card-dermo img {
  width: 75%;
  height: auto;
  margin: 30px;
}
.card-dermo h2 {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}
.card-dermo p {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.card-dermo:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.6875rem;
}

iframe {
  width: 623px;
  border: 0;
}

.iframe-contenedor {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 30px;
}

/* cuidado de la piel */
section {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

article {
  width: 30%;
  padding: 20px;
  background-color: #F6F5F8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
article h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
article p {
  margin-bottom: 10px;
}
article p:last-child {
  margin-bottom: 0;
}
article:hover {
  background-color: #EAE9EC;
}

/*suplemenetos*/
.div-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.div-flex img {
  max-width: none;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

article {
  width: 30%;
  padding: 20px;
  background-color: #F6F5F8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
article img {
  width: 90%;
  height: 320px;
  border-radius: 8px;
  margin-bottom: 10px;
}
article h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
article:hover {
  background-color: #eaece9;
}

.section-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*media queries*/
/*tablet*/
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .nav-bar {
    padding: 10px;
  }
  .nav-bar li a {
    font-size: 20px;
    font-weight: 500;
  }
  .div image-container {
    width: 100%;
  }
  .form-container {
    flex-direction: column;
  }
  .account-cart-container {
    margin: 0px;
    padding: 15px;
  }
  div .account-cart-container {
    margin-left: initial;
  }
  .account-cart-container p {
    margin: 10px;
  }
  .horizontal-menu a {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .card {
    width: 240px;
    margin: 43px;
    margin-top: 5px;
  }
  .card-dermo {
    width: 166px;
  }
  .iframe-contenedor {
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 700;
  }
}
/*mobile*/
@media screen and (max-width: 320px) {
  .header-texto {
    font-size: 0.8125rem;
  }
  .form-container img {
    width: 100%;
  }
  .account-cart-container {
    flex-direction: column;
  }
  .nav-bar {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  section {
    flex-direction: column;
    align-items: center;
  }
  article {
    width: 90%;
  }
  .card-inicio {
    width: 126px;
  }
  .card-content h2 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 136px;
    margin: 0px;
  }
  .card img {
    width: 62%;
    margin: auto;
  }
  .card-content {
    padding: 0px;
  }
  .card-content p {
    font-size: 0.8125rem;
  }
  .contenedor-main article {
    width: 90%;
  }
  .contenedor-main article img {
    height: 210px;
  }
  footer h3 {
    font-size: 10px;
  }
  footer p {
    font-size: 8px;
  }
  footer img {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
